body {
    color: #333;
}
h1 {
    font-size: xx-large;
    font-weight: bold;
    border-bottom:2px solid #99f;
    width: 50%;
    margin: 1em auto;
    padding: 1em 0em 0.2em;
    text-align: center;
}
h2 {
    font-size: x-large;
}
#container {
    width: 90%;
    margin:auto;
}
.loop {
    padding:1em;
    border:1px solid #888;
}
.name {
    text-align: right;
    margin-bottom: 1em;
}
.yearBox {
    border-bottom:1px solid #333;
}
.categoryBox {
    border-left: 1px solid #666;
    padding: 0em 0.5em;
}
.categoryBox:hover {
    background-color: #eef;
}
.motivation:hover, .name:hover {
    background-color: #ddf;
}
.float {
    float: right;
    position: sticky;
    top:1em;
    right:1em;
    font-size: large;
    font-size: large;
    background-color:rgba(240,240,255,0.9);
    border-radius: 10px;
    padding:5px;
}